html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  user-select: none;
  touch-action: none;
}

#game-container {
  position: relative;
  overflow: hidden;
}

.game {
  position: relative;
  display: flex;
  background-color: #F6C4D7;
  z-index: 1;

  .canvas {
    /* ... */
  }
}

.game.openhand {
  cursor: grab;
}

.game.closedhand {
  cursor: grabbing;
}

b {
  display: contents;
}

.game:before {
  content: '';
  position: absolute;
  left: 0;
  top: 76px;
  width: 100%;
  height: 239px;
  background-image: url('../assets/clouds.svg');
  background-position: 0 center;
  background-size: 3005px 239px;
  animation: __U_game-clouds 180s linear infinite;
  z-index: -1;
}

/* @at-root { */
  @keyframes __U_game-clouds {
    100% {
      background-position-x: -3005px;
    }
  }
/* } */

.task-title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
}

.arrow {
  position: absolute;
  width: 24px;
  height: 108px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: translate(-50%, -100%);
  transition: opacity 0.5s 6s;
  overflow: hidden;
  pointer-events: none;
}

.arrow:before {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #E495B3;
  animation: __U_game-arrow-pulsaton 1s 6s alternate infinite;
}

/* @at-root { */
  @keyframes __U_game-arrow-pulsaton {
    100% {
      opacity: 0.75;
    }
  }
/* } */


.arrow:after {
  content: '';
  width: 100%;
  height: 76px;
  background: url('../assets/arrow.svg') center bottom no-repeat;
  transition: transform 1s 6.5s;
}

.arrow.hidden {
  transition-delay: 0s;
}

.arrow.hidden:before {
  animation: none;
}

.arrow.hidden:after {
  transition-delay: 0s;
  transform: translateY(100%);
}

.counters {
  position: absolute;
  right: 116px;
  bottom: 210px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 90px;
  background: #765FDE;
  border-radius: 20px;
  color: #FFFFFF;
  transition-property: opacity, transform;
  transition-duration: 0.5s;
}

.counter > .title {
  font-size: 20px;
  line-height: 24px;
}

.counter > .value {
  font-size: 48px;
  line-height: 45px;
  font-weight: 700;
}

.counter.best {
  margin-bottom: 16px;
}

.counter.current {
  z-index: 1;
}

.counter.hidden {
  transform: translateY(100%);
}

.buttons {
  position: absolute;
  display: flex;
  left: 614px;
  bottom: 50px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background-color: #FFFFFF;
  border-radius: 16px;
  box-sizing: border-box;
}

.button:not(.disabled):hover {
  background-color: #efe9e9;
  cursor: pointer;
}

.button.reset {
  width: 48px;
  margin-right: 16px;
  background-image: url('../assets/icon-reset.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.button.run {
  font-size: 20px;
  line-height: 28px;
  color: #765FDE;
  padding: 0 20px;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.disabled {
  pointer-events: none;
}
